@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: "Lato", sans-serif;
  background: rgb(215, 215, 236);
  background: linear-gradient(
    201deg,
    rgba(215, 215, 236, 0.9528011888349089) -90%,
    rgba(46, 147, 232, 1) 100%
  );
  height: 100vh;
}

.counter {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.527);

  span {
    font-weight: bold;
    color: white;
    padding: 20px;
  }
}
