@import url("https://fonts.googleapis.com/css?family=Lato");


body {
    font-family: "Lato", sans-serif;
}

.counter {
    display: flex;
    justify-content: center;
    background-color: rgb(78, 105, 122);
    
    span {
        font-weight: bold;
        color: white;
        padding: 20px;
  }
}
